### Composer ###
################
vendor/*
composer.phar
/composer.lock

### PHPUnit ###
###############
phpunit.xml

### NodeJS ###
##############
node_modules/

### JQueryValidation ###
########################
/.tmp/
